<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>XXX</servlet-name>
        <servlet-class>org.jason.web.servlet.FirstServlet</servlet-class>
        <init-param>
            <param-name>@Author</param-name>
            <param-value>Jason</param-value>
        </init-param>
        <init-param>
            <param-name>@Email</param-name>
            <param-value>jie-trancender.org</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>XXX</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
        <load-on-startup>0</load-on-startup>
    </servlet-mapping>

    <!--针对整个应用程序-->
    <context-param>
        <param-name>@Admin</param-name>
        <param-value>JTrancender</param-value>
    </context-param>

    <servlet>
        <servlet-name>YYY</servlet-name>
        <servlet-class>org.jason.web.servlet.FifthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YYY</servlet-name>
        <url-pattern>/FifthServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SixthServlet</servlet-name>
        <servlet-class>org.jason.web.servlet.SixServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SixthServlet</servlet-name>
        <url-pattern>/SixthServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>org.jason.web.servlet.SecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FirstHttpServlet</servlet-name>
        <servlet-class>org.jason.web.servlet.FirstHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstHttpServlet</servlet-name>
        <url-pattern>/FirstHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SecondHttpServlet</servlet-name>
        <servlet-class>org.jason.web.servlet.SecondHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondHttpServlet</servlet-name>
        <url-pattern>/SecondHttpServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AHttpServlet</servlet-name>
        <servlet-class>org.jason.web.servlet.forward.AHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AHttpServlet</servlet-name>
        <url-pattern>/AHttpServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BHttpServlet</servlet-name>
        <servlet-class>org.jason.web.servlet.forward.BHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BHttpServlet</servlet-name>
        <url-pattern>/BHttpServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginHttpServlet</servlet-name>
        <servlet-class>org.jason.web.servlet.forward.LoginHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginHttpServlet</servlet-name>
        <url-pattern>/LoginHttpServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VerifyHttpServlet</servlet-name>
        <servlet-class>org.jason.web.servlet.forward.VerifyHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyHttpServlet</servlet-name>
        <url-pattern>/VerifyHttpServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>org.jason.web.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/errors/userErrorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>505</error-code>
        <location>/errors/errorPage.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/index.jsp</location>
    </error-page>

</web-app>